﻿<div>
    <h1>Player Profile</h1>
    <table class="table">
        <tr>
            <th>Name</th>
            <td>{{player.PlayerFirstName}} {{player.PlayerLastName}}</td>
        </tr>
        <tr>
            <th>Team</th>
            <td>{{player.TeamName}}</td>
        </tr>
    </table>
</div>