﻿<div class="panel-players">
    <div>
        <select class="select-team" ng-change="currentTeam.showPlayers(this)" ng-model="currentTeam.CurrentTeamID">
            <option ng-repeat="team in allTeams | orderBy:'TeamName'" value="{{team.TeamID}}">{{team.TeamName}}</option>
        </select>
    </div>

    <div>
        <table>
            <tr ng-repeat="player in teamplayers | orderBy:'PlayerFirstName'">
                <td><a href="/player/{{player.PlayerID}}">{{player.PlayerLastName}}, {{player.PlayerFirstName}}</a></td>
            </tr>
        </table>
    </div>
</div>