﻿@model MVCProject.Data.Models.MenuListModel
<nav class="yamm" role="navigation">
    <ul class="nav navbar-nav">

        @if (Model != null && Model.Menus != null)
        {
            for (var i = 0; i < Model.Menus.Count; i++)
            {
                var isTeamMenu = false;
                if (Model.Menus[i].MenuParentID == 0)
                {
                    if (Model.IsDropdown(Model.Menus[i].MenuID))
                    {
                        if (Model.Menus[i].MenuName.ToLower()== "teams")
                        {
                            isTeamMenu = true;
                        }

                        ViewContext.Writer.Write("<li class=\"dropdown\"><a  data-toggle=\"dropdown\" class=\"dropdown-toggle\" href=\"" + @Model.Menus[i].MenuUrl + "\">" + @Model.Menus[i].MenuName + "</a>");
                    }else
                    {
                        ViewContext.Writer.Write("<li><a href=\"" + @Model.Menus[i].MenuUrl + "\">" + @Model.Menus[i].MenuName + "</a>");
                    }
                }
                var subMenuCount = 0;

                if (!isTeamMenu)
                {
                    for (var j = 0; j < Model.Menus.Count; j++)
                    {
                        if (Model.Menus[i].MenuID == Model.Menus[j].MenuParentID)
                        {
                            subMenuCount++;
                            if (subMenuCount == 1)
                            {

                                ViewContext.Writer.Write("<ul class=\"dropdown-menu\">");
                            }
                        <li><a href="@Model.Menus[j].MenuUrl">@Model.Menus[j].MenuName</a></li>
                        }
                    }
                    if (subMenuCount > 0)
                    {
                        ViewContext.Writer.Write("</ul>");
                    }
                }
                else
                {
                    var currentConference = string.Empty;
                    for (var j = 0; j < Model.Menus.Count; j++)
                    {
                        if (Model.Menus[i].MenuID == Model.Menus[j].MenuParentID)
                        {
                            subMenuCount++;
                            if (subMenuCount == 1)
                            {
                                currentConference = Model.Menus[j].Tag;
                                ViewContext.Writer.Write("<div class=\"dropdown-menu\"><ul>");
                            }

                            if (currentConference != Model.Menus[j].Tag)
                            {
                                ViewContext.Writer.Write("</ul><ul>");
                            }

                            currentConference = Model.Menus[j].Tag;
                            <li><a href="@Model.Menus[j].MenuUrl">@Model.Menus[j].MenuName</a></li>
                        }
                    }
                    if (subMenuCount > 0)
                    {
                        ViewContext.Writer.Write("</ul></div>");
                    }
                }
                if (Model.Menus[i].MenuParentID == 0)
                {
                    ViewContext.Writer.Write("</li>");
                }
            }
        }

    </ul>
</nav>