﻿body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

div.dropdown-menu{
    padding:20px
}
div.dropdown-menu ul{
    float:left;
    list-style:none;
    margin:0;
    padding:0
}

div.dropdown-menu ul:last-of-type{
    margin-left:20px
}

div.dropdown-menu ul li{
    padding:3px 0
}

    .dropdown-menu ul li  a:hover{
        color: #ffffff;
        text-decoration: none;
        background-color: #428bca;
    }
