﻿@model List<MVCProject.Data.Models.TeamModel>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<h2>Index</h2>
<div class="row">

    <div class="col-lg-6 .col-lg-offset-6">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6">
                @for (var i = 0; i < Model.Count; i++)
            {
                if (Model[i].ConferenceID == 1)
                {
                        <a href="/teams/@Model[i].TeamName">@Model[i].TeamName @Model[i].TeamAlias</a><br />
                    }
                }
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6">
                @for (var i = 0; i < Model.Count; i++)
                {
                    if (Model[i].ConferenceID == 2)
                    {
                        <a href="/teams/@Model[i].TeamName">@Model[i].TeamName @Model[i].TeamAlias</a><br />
                    }
                }
            </div>
        </div>
    </div>
</div>


