﻿@model List<MVCProject.Data.Models.PlayerModel>
@{
    ViewBag.Title = "Team";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div ng-app="teamApp" ng-controller="teamController as currentTeam">
    <div ng-view></div>
    @*@RouteView {{RouteView}}
        <pre>$location.path() = {{currentTeam.$location.path()}}</pre>
        <pre>$route.current.templateUrl = {{currentTeam.$route.current.templateUrl}}</pre>
        <pre>$route.current.params = {{currentTeam.$route.current.params}}</pre>
        <pre>$routeParams = {{currentTeam.$routeParams}}</pre>*@
</div>