﻿@model List<MVCProject.Data.Models.PlayerModel> 

@{
    ViewBag.Title = "Players";
}

<table class="table table-striped">
    <tr>
        <th>Team</th>
        <th>Name</th>
    </tr>
    @foreach (MVCProject.Data.Models.PlayerModel player in Model)
    {
        <tr>
        <td>@player.TeamName</td>
        <td>@player.PlayerLastName, @player.PlayerFirstName</td>
        </tr>
    }

</table>